<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/dashboard">Dashboard </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" role="button" href="#start-new-session-modal" data-bs-toggle="modal">Session</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/participants">Manage participants</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/attendance_log">Attendance log <i class="fas fa-map-pin"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/statistics">Statistics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron jumbotron-fluid text-center bg-light pt-2 pb-2">
	<h1 class="text-primary">Attendance Log</h1>
</div>

<div class="container mt-5">
	<div class="accordion " id="accordion">
		<% for (var i = 0; i < sessions.length; i++) { %>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading<%=i%>">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=i%>" aria-expanded="true" aria-controls="collapse<%=i%>"><%=sessions[i].date%></button>
			</h2>
			<div id="collapse<%=i%>" class="accordion-collapse collapse show" aria-labelledby="heading<%=i%>" data-bs-parent="#accordion">
				<div class="accordion-body">
					<strong>Participants in this session:</strong><br>
					<% sessions[i].participants.forEach((elem)=>{ %>
						<p> <%= elem.first_name %> <%= elem.last_name %> (<%= elem.id %>)</p>
					<% }) %>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>

	<!-- start new session modal -->
	<div class="modal fade" id="start-new-session-modal" tabindex="-1" aria-labelledby="start-new-session-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">Heads up</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body"><h5>You are about to start a new session</h5></div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
					<a href="dashboard/session" class="btn btn-primary btn-lg" role="button">Continue</a>
				</div>
			</div>
		</div>
	</div>
</div>