<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" role="button" href="#start-new-session-modal" data-bs-toggle="modal">Session</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./participants">Manage participants <i class="fas fa-map-pin"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/attendance_log">Attendance log</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/statistics">Statistics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dashboard/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron jumbotron-fluid text-center bg-light pt-2 pb-2">
	<h1 class="text-primary">Manage participants</h1>
		<%- include ("./partials/messages"); %>
</div>

<div class="container-flex">
	<div class="row justify-content-center m-5">
		<div class="col-md-3">
			<div class="card card-body hover-card text-center">
				<h1>
					<img src="/icons/add_user.png" height="150" width="150" />
				</h1>
				<h5 class="pt-4 text-primary">Add new participant to your list</h5>
				<div class="d-grid gap-2 d-md-block">
					<button type="button" id="add-participant-btn" class="btn btn-primary btn-lg btn-block mt-5 text-success" data-bs-toggle="modal" data-bs-target="#add-participant-modal">Add Participant</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-body hover-card text-center">
				<h1>
					<img src="/icons/user-list.png" height="150" width="150" />
				</h1>
				<h5 class="pt-4 text-primary">View full participant list</h5>
				<div class="d-grid gap-2 d-md-block">
					<button type="button" class="btn btn-primary btn-lg btn-block mt-5 text-success" data-bs-toggle="modal" data-bs-target="#participant-list-modal">View full list</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Add new participant -->
<div class="modal fade" id="add-participant-modal" data-bs-keyboard="false" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Fill in new participant information</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="/dashboard/participants/add" method="POST">
					<div class="mb-3">
						<div class="form-group">
						<label for="recipient-name"  class="col-form-label">first name:</label>
						<input type="text" class="form-control" id="first_name" name="first_name" required/>
						</div>
					</div>
					<div class="mb-3">
						<div class="form-group">
						<label for="recipient-name" class="col-form-label">last name:</label>
						<input type="text" class="form-control" id="last_name" name="last_name" required/>
						</div>
					</div>
					<div class="mb-3">
						<div class="form-group">
						<label for="recipient-name" id="id" name="id" class="col-form-label">participant ID:</label>
						<input type="number" class="form-control" id="id" name="id" required/>
						</div>
					</div>
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-lg btn-primary">Add</button>
					</div>
				</form>
		</div>
	</div>
</div>

<!-- See participant list -->
<div class="modal fade" id="participant-list-modal" data-bs-keyboard="false" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header position-relative">
				<h4 class="modal-title">Participant list</h4>
				<!-- <button type="button" class="btn btn-light text-center align-middle position-absolute top-50 start-50 translate-middle">
					Total <span class="badge bg-info"><%= user.participants.length %></span>
				  </button> -->
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				
				<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
			</div>
			<div class="modal-body">
				<table class="table table-hover text-center text-primary">
					<thead>
						<tr class="table-primary text-primary">
							<th>#</th>
							<th>First name</th>
							<th>Last name</th>
							<th>ID</th>
							<th></th>
						  </tr>
						  <tbody>
							<% for (var i = 0; i < user.participants.length; i++) { %>
								<tr>
									<td class='align-middle'><%= i+1 %></td>
									<td class='align-middle'><%= participants[i].first_name %></td>
									<td class='align-middle'><%= participants[i].last_name %></td>
									<td class='align-middle'><%= participants[i].id %></td>
									<td class='align-middle'>
										<!-- <a href="#" class="btn btn-success text-primary" role="button">View Statistics</a>
										<a href="#" class="btn btn-warning text-primary" role="button">Remove</a> -->
										<div class="dropdown">
											<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
											  Available actions
											</button>
											<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
											  <li><a class="dropdown-item " href="#">Edit participant info</a></li>
											  <li><a class="dropdown-item " href="#">View participant's Statistics</a></li>
											  <li><a class="dropdown-item" href="/dashboard/statistics">Go to statics page</a></li>
											  <li><hr class="dropdown-divider"></li>
											  <li>
												<form action="/dashboard/participants/<%=participants[i].obj_id%>" method="POST">
													<input type="hidden" name="_method" value="DELETE">
													<button type='submit' class="dropdown-item" id="remove-participant-action">Remove participant</button>
												</form>
												</li>
											</ul>
										  </div>
									</td>
								  </tr>    
							<% } %>
						  </tbody>
					</thead>
				</table>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-light btn-lg text-center btn-block ml-1">
					Total <span class="badge bg-info"><%= user.participants.length %></span>
				  </button>
				<button type="button" class="btn btn-lg btn-danger " data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- start new session modal -->
<div class="modal fade " id="start-new-session-modal" tabindex="-1" aria-labelledby="start-new-session-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Heads up</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body"><h5>You are about to start a new session</h5></div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
				<a href="dashboard/session" class="btn btn-primary btn-lg" role="button">Continue</a>
			</div>
		</div>
	</div>
</div>
